<header class="shoe-header">
  <div class="header-left">
    <div class="logo">
      <a routerLink="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 982 239"
          fill="none"
          class="angular-logo"
        >
          <g clip-path="url(#a)">
          </g>
          <defs>
          </defs>
        </svg>
        <span class="logo-text">SneakerZone</span>
      </a>
    </div>
  </div>

  <nav class="header-nav">
    <a [routerLink]="['/admin/products']">Sản phẩm</a>
    <a [routerLink]="['/admin/categories']">Danh mục</a>
    <a [routerLink]="['/admin/users']">Khách hàng</a>
    <a [routerLink]="['/admin/brands']">Thương hiệu</a>
  </nav>

  <div class="header-right">
    <a routerLink="/login" class="btn">Đăng nhập</a>
    <a routerLink="/register" class="btn btn-outline">Đăng ký</a>
  </div>
</header>